<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style-dashboard.css">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/fav.png">

    <title>Caixa 2 bank</title>
</head>
<body>
<header>
    <img class="img-logo" src="/images/logo%20topzera.png" alt="caixa 2 bank">
    <h1 class="title-header">Suas chaves pix</h1>
    <a th:href="@{/user/dashboard}">
        <i class="fa-solid fa-arrow-right-from-bracket fa-2xl"
           style="color: #000000;"></i>
    </a>
</header>
<main>
    <section>
        <table class="big-card table">
            <thead>
            <tr>
                <th>CPF</th>
                <th>Chave aleatória</th>
                <th>Email</th>
                <th>Telefone</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p th:if="!${checkKeys.cpf()}" th:text="${keys.cpf()}"></p>

                    <a th:if="${checkKeys.cpf()}" th:href="@{/account/register-key/cpf}">
                        <button class="btn btn-dark">Registrar CPF</button>
                    </a>
                </td>

                <td>
                    <p th:if="!${checkKeys.random()}" th:text="${keys.random()}"></p>

                    <a th:if="${checkKeys.random()}" th:href="@{/account/register-key/random}">
                        <button class="btn btn-dark">Registrar Random</button>
                    </a>
                </td>

                <td>
                    <p th:if="!${checkKeys.email()}" th:text="${keys.email()}"></p>

                    <a th:if="${checkKeys.email()}" th:href="@{/account/register-key/email}">
                        <button class="btn btn-dark">Registrar Email</button>
                    </a>
                </td>

                <td>
                    <p th:if="!${checkKeys.phone()}" th:text="${keys.phone()}"></p>

                    <a th:if="${checkKeys.phone()}" th:href="@{/account/register-key/phone}">
                        <button class="btn btn-dark">Registrar phone</button>
                    </a>
                </td>
            </tr>
            <tr class="tr-error">
                <td colspan="4">
                    <div th:if="${alert != null}"
                         th:class="${alert == 'error'} ? 'alert alert-danger' : 'alert alert-success'"
                         role="alert">
                        <h4 th:text="${title}" class="alert-heading"></h4>
                        <p th:text="${text}"></p>
                        <hr>
                        <p class="mb-0"><small th:text="${subtext}"></small></p>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </section>
</main>

<script src="https://kit.fontawesome.com/a20fb09076.js" crossorigin="anonymous"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
</body>
</html>