<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style-dashboard.css">
    <link rel="icon" type="image/x-icon" href="/images/fav.png">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet">

    <title>Transações</title>
</head>
<body>
<header>
    <img class="img-logo" src="/images/logo%20topzera.png" alt="caixa 2 bank">

    <h1 class="title-header">Transações</h1>
    <a th:href="@{/user/dashboard}">
        <i class="fa-solid fa-arrow-right-from-bracket fa-2xl"
           style="color: #000000;"></i>
    </a>
</header>

<main>


    <p th:if="!${transactions.size() > 0}">Nenhuma transação feita até o momento</p>

    <table class="table" th:if="${transactions.size() > 0}">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Enviado por</th>
            <th scope="col">Recebido por</th>
            <th scope="col">Valor</th>
            <th scope="col">Data e hora</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.id()}"></td>
            <td th:text="${transaction.sender()}"></td>
            <td th:text="${transaction.receiver()}"></td>
            <td th:text="${transaction.value()}"></td>
            <td th:text="${transaction.time()}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/transaction/pdf}">
        <button class="btn btn-dark">Download das transações em pdf</button>
    </a>

</main>

<script src="https://kit.fontawesome.com/a20fb09076.js" crossorigin="anonymous"></script>
</body>
</html>